@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: rgb(21, 22, 21);
  transition: background-color 0.5s;
}
body.light {
  background-color: rgb(241, 241, 241);
}
.toggle {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  background-color: rgba(84, 85, 84, 0.8);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle:before {
  content: "\f186";
  font-family: fontAwesome;
  color: azure;
}
body.light .toggle:before {
  content: "\f185";
  font-family: fontAwesome;
}

.header {
  position: relative;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.header img {
  margin: auto;
  position: relative;
  justify-content: center;
  display: flex;
  max-width: 150px;
  min-width: 50px;
  border-radius: 100%;
}
.header h5 {
  margin-top: 15px;
  position: relative;
  justify-content: center;
  display: flex;
  color: azure;
  font-weight: 600;
}
body.light .header h5 {
  color: rgb(21, 22, 21);
}

.header p {
  position: relative;
  justify-content: center;
  display: flex;
  font-size: 0.8em;
  color: rgb(135, 144, 158);
}

body.light .header p {
  color: rgb(21, 22, 21);
}

.contCard {
  margin-top: 30px;
  position: relative;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.card img {
  margin-top: 25px;
  max-width: 250px;
  border-radius: 10%;
  transition: all.0.5s;
}

.card {
  background-color: rgba(84, 85, 84, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px;
  padding: 5px;
  width: 350px;
  height: 400px;
  cursor: default;
  border-radius: 5%;
}
/* .card:hover {
  transition: all.4s;
  transform: scale(1.1);
  border-radius: 5%;
} */

.card h5 {
  font-weight: 650;
  text-align: center;
  font-size: 25px;
  color: azure;
}

body.light .card h5 {
  color: rgb(21, 22, 21);
}
.card p {
  font-weight: 450;
  color: rgb(135, 144, 158);
  text-align: center;
}

body.light .card p {
  color: rgb(21, 22, 21);
}
